.chat-content {
    padding: 20px;
    border: 1Zpx solid rgba(44, 57, 242, 1);
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-content-message-container {
    display: inline-flex;
}

.chat-content-message-container-self {
    flex-direction: row-reverse;
}

.chat-content-message-container-self>.chat-content-message {
    background-color: rgb(52, 46, 169);
}

.chat-content-message {
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(71, 62, 246);
    color: white;
    margin-bottom: 10px;
    max-width: 60%;
    position: relative;
}

.chat-content-message-username {
    text-decoration: none;
    font-weight: bold;
}

.chat-content-message-message {
    margin: 5px;
}

.chat-content::-webkit-scrollbar {
    width: 5px;
}

.chat-content::-webkit-scrollbar-track {
    background: rgba(0, 95, 173, 0.5)
}

.chat-content::-webkit-scrollbar-thumb {
    background: rgba(0, 58, 106, 0.8)
}
