.chat-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgb(52, 46, 169);   
    background: rgba(44, 57, 242, 1);
}

.chat-input input {
    padding: 20px;
    border: none;
    outline: none;
    background: rgba(44, 57, 242, 1);
    color: #FFF;
}

.chat-input .input-message {
    background: rgba(62, 73, 237, 1);
    color: #FFF;
    width: 100%;
}

.chat-input .input-message::placeholder {
    color: #FFF;
}